@import "mocha.css"; 

* {
  border: none;
  border-radius: 16px;
  font-family: JetBrainsMono Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
  /* padding: 1px 0 0 0; */
  margin-top: 1px;
}

window#waybar {
    background: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @text;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @text;
}

#workspaces button {
  padding: 0 10px;  
  background: transparent;
  color: @text;
  border: 2px solid @surface2;
}

#workspaces button.focused {
    background: @surface2;
    /* border-bottom: 3px solid white; */
}

#mode, #clock, #battery {
    padding: 0 10px;
    /* border: 2px solid @surface2 */
}

#mode {
    background: @base;
    border-bottom: 2px solid white;
}

#clock {
    background-color: @surface2;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: @text;
    background-color: @green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
